.packs {

    .container .col {
        max-width: 900px;
    }

    &.wnav {
        @media only screen and (min-width:768px) {
            .container {
                background-color: transparent;
                margin-left: calc(30% + var(--bs-gutter-x));
            }

            .container>div {
                max-width: 70%;
            }

            .container::before,
            .container::after {
                width: calc(70% - 2px);
            }
        }
    }

    .row {
        justify-content: center;
    }
}

.page-reorder {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .side-nav {
        order: -1;
    }
}