article.newsletter:not(.nobg) {
    padding-top: 4em;

    .newsletter-banner {
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .newsletter-body,
    .newsletter-links {
        max-width: 900px;
        margin: 0 auto;
    }

    .newsletter-body {
        @media only screen and (min-width: 1200px) {
            padding-top: 2.5em;
        }

        @media only screen and (min-width: 1400px) {
            padding-top: 5em;
        }
    }

    .newsletter-body::before {
        /* Shadow spacing for the banner area */
        content: "";
        width: 100%;
        display: block;
        aspect-ratio: 5/1;
    }

    .newsletter-links {
        margin-top: 2em;
        margin-bottom: 2em;
        padding-top: 2em;
        border-top: 1px solid var(--bs-light);
    }
}