article.blog {

  .container .col {
    max-width: 900px;
  }

  &.blog-wnav {
    @media only screen and (min-width:768px) {
      .container {
        background-color: transparent;
      }

      .container>div {
        max-width: 70%;
      }

      .container::before,
      .container::after {
        width: calc(70% - 2px);
      }
    }
  }

  .row {
    justify-content: center;
  }

  .blog-entry {
    margin-bottom: 2em;

    @media only screen and (max-width: 400px) {
      a {
        word-break: break-all;
      }
    }
  }

  .blog-heading {
    margin-bottom: 1em;

    @media only screen and (min-width:576px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }
  }

  .ctas {
    .btn {
      width: 100%;
    }

    @media only screen and (min-width: 576px) {
      .btn {
        width: auto;
      }
    }
  }

  .btn {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }

  .top-link {
    text-align: right;
    font-size: 0.8em;
  }
}