article.blog {
    .row {
        justify-content: center;
    }

    .col {
        max-width: 900px;
    }

    .blog-heading {
        margin-bottom: 1em;

        @media only screen and (min-width:576px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }
    }

    .top-link {
        text-align: right;
        font-size: 0.8em;
    }
}