.button-banner {
    margin-bottom: 2em;

    .card-title {
        margin-bottom: 0;
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            width: 20px;
        }

        div:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 0.5em;
        }
    }
}