.contact-form {
    margin-bottom: 2em;

    .card-header h2 {
        margin: 0;
    }

    .intro {
        color: var(--bs-secondary-color);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2em;

        input,
        select {
            max-width: 400px;
        }
    }
}