footer {
  position: relative;

  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  >div {
    position: relative;
    z-index: 100;
    padding-top: 35px !important;
    background-color: var(--bs-primary);
    color: white;

    .text-body-secondary,
    a {
      color: var(--bs-light) !important;
    }

    a:hover {
      color: var(--bs-hover) !important;
    }
  }

  p {
    font-size: 0.65em;
  }

  p.footer-copyright {
    margin: 0;
    font-size: 1em;
  }

  .last-built {
    font-size: 0.4em;
    text-align: center;
    padding: 0 1em;
    color: rgba(255, 255, 255, 0.3);
  }


  nav {
    font-size: 1.4em;
    text-align: center;

    ul.nav {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      max-width: 400px;
    }

    li .nav-link {
      --bs-nav-link-padding-x: 0.3em;
    }

    @media only screen and (min-width: 768px) {
      font-size: 1.2em;

      ul.nav {
        max-width: none;
        justify-content: flex-end;
      }

      li .nav-link {
        --bs-nav-link-padding-x: 0.5em;
      }

      .last-built {
        font-size: 0.5em;
        text-align: right;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 83px;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: -41px;
    left: 0px;
    transform: rotateX(180deg);

    background-repeat: repeat-x;
    background-position: left bottom;
  }

  &::after {
    top: -43px;
    left: -2px;
    z-index: 101;
    width: calc(100% - 2px);
  }

}