em {
  color: var(--bs-secondary);
  font-weight: 500;
}

ul {
  list-style-type: square;
}

li::marker {
  color: var(--bs-secondary);
}

.active>.page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.badge.text-bg-primary {
  background-color: var(--bs-primary) !important;
}

.badge.text-bg-secondary {
  background-color: var(--bs-secondary) !important;
}

.text-bg-primary {
  border-color: var(--bs-primary) !important;
  background-color: var(--bs-primary) !important;
  color: white;
}

.text-bg-secondary {
  border-color: var(--bs-secondary) !important;
  background-color: var(--bs-secondary) !important;
  color: white;
}

.text-bg-tertiary {
  border-color: var(--bs-tertiary) !important;
  background-color: var(--bs-tertiary) !important;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-secondary {
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

a:not(.btn):not(.nav-link) {
  color: var(--bs-primary);
}

a:not(.btn):not(.nav-link):hover {
  color: var(--bs-hover);
}

.text-bg-secondary {
  a:not(.btn) {
    color: white;
  }

  a:not(.btn):hover {
    color: var(--bs-light);
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  border-color: var(--bs-primary);
}

.card-text {
  color: #000;
}

html,
body {
  font-family: Verdana;
  font-size: 14px;
}

body {
  background-color: var(--bs-primary);
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--bs-light);
}

main {
  /*padding: 3em 0;*/
  min-height: calc(100vh - 200px);
}

section:not(.nobg),
article {
  padding: 5em 0;
  margin-bottom: 3em;

  .container {
    position: relative;
    background-color: white;
    padding: 0;
  }

  .container>div {
    position: relative;
    background-color: white;
    z-index: 100;
    padding: 2em 1em;
    min-height: 200px;

    @media only screen and (min-width: 576px) {
      padding: 4em 4em;
    }
  }

  .newsletter .container>div {
    background-color: #d9ead3 !important;
    padding-bottom: 30px;
  }

  .container::before,
  .container::after,
  .container>div::before,
  .container>div::after {
    content: '';
    display: block;
    height: 83px;
    width: 100%;
    position: absolute;
    z-index: 101;
    left: 0;
    background-repeat: repeat-x;
    background-position: left bottom;
  }

  .container::before,
  .container::after {
    z-index: 99;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="63"><style>.navtop{fill:%23444;stroke:%23444;stroke-width:2;}.navbot{fill:%23444;}</style><g class="navtop"><rect x="0" y="0" width="6" height="6" /><rect x="0" y="7" width="6" height="6" /><rect x="0" y="14" width="6" height="6" /><rect x="0" y="21" width="6" height="6" /><rect x="7" y="14" width="6" height="6" /><rect x="7" y="21" width="6" height="6" /><rect x="7" y="28" width="6" height="6" /><rect x="14" y="7" width="6" height="6" /><rect x="14" y="14" width="6" height="6" /><rect x="21" y="14" width="6" height="6" /><rect x="21" y="21" width="6" height="6" /><rect x="28" y="21" width="6" height="6" /><rect x="28" y="28" width="6" height="6" /><rect x="28" y="35" width="6" height="6" /><rect x="35" y="7" width="6" height="6" /><rect x="35" y="14" width="6" height="6" /><rect x="35" y="21" width="6" height="6" /></g><g class="navbot" stroke="transparent"><rect x="0" y="28" width="6" height="6" /><rect x="0" y="35" width="6" height="6" /><rect x="0" y="42" width="6" height="6" /><rect x="7" y="35" width="6" height="6" /><rect x="7" y="42" width="6" height="6" /><rect x="7" y="49" width="6" height="6" /><rect x="7" y="56" width="6" height="6" /><rect x="14" y="21" width="6" height="6" /><rect x="14" y="28" width="6" height="6" /><rect x="21" y="28" width="6" height="6" /><rect x="21" y="35" width="6" height="6" /><rect x="28" y="42" width="6" height="6" /><rect x="28" y="49" width="6" height="6" /><rect x="35" y="28" width="6" height="6" /><rect x="35" y="35" width="6" height="6" /></g></svg>');
    left: 2px;
    width: calc(100% - 2px);
  }

  .container>div::before,
  .container>div::after {
    z-index: 101;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="63"><style>.navtop{fill:%23e0e0e0;stroke:%23eee;stroke-width:2;}.navbot{fill:%23e0e0e0;}</style><g class="navtop"><rect x="0" y="0" width="6" height="6" /><rect x="0" y="7" width="6" height="6" /><rect x="0" y="14" width="6" height="6" /><rect x="0" y="21" width="6" height="6" /><rect x="7" y="14" width="6" height="6" /><rect x="7" y="21" width="6" height="6" /><rect x="7" y="28" width="6" height="6" /><rect x="14" y="7" width="6" height="6" /><rect x="14" y="14" width="6" height="6" /><rect x="21" y="14" width="6" height="6" /><rect x="21" y="21" width="6" height="6" /><rect x="28" y="21" width="6" height="6" /><rect x="28" y="28" width="6" height="6" /><rect x="28" y="35" width="6" height="6" /><rect x="35" y="7" width="6" height="6" /><rect x="35" y="14" width="6" height="6" /><rect x="35" y="21" width="6" height="6" /></g><g class="navbot" stroke="transparent"><rect x="0" y="28" width="6" height="6" /><rect x="0" y="35" width="6" height="6" /><rect x="0" y="42" width="6" height="6" /><rect x="7" y="35" width="6" height="6" /><rect x="7" y="42" width="6" height="6" /><rect x="7" y="49" width="6" height="6" /><rect x="7" y="56" width="6" height="6" /><rect x="14" y="21" width="6" height="6" /><rect x="14" y="28" width="6" height="6" /><rect x="21" y="28" width="6" height="6" /><rect x="21" y="35" width="6" height="6" /><rect x="28" y="42" width="6" height="6" /><rect x="28" y="49" width="6" height="6" /><rect x="35" y="28" width="6" height="6" /><rect x="35" y="35" width="6" height="6" /></g></svg>');
  }

  .container::before,
  .container>div::before {
    transform: rotateX(180deg);
  }

  .container::before {
    top: -40px;
  }

  .container>div::before {
    top: -42px;
  }

  .container::after {
    bottom: -42px;
  }

  .container>div::after {
    bottom: -40px;
  }
}

h2.pix {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 20px;

  span {
    position: relative;
    display: inline-block;
  }

  span::before,
  span::after {
    width: 23px;
    height: 19px;
    position: absolute;
    right: -40px;
    top: 35%;
    transform: translateY(-50%);
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23BBB" width="23" height="19"><rect x="0" y="0" width="3" height="3" /><rect x="0" y="4" width="3" height="3" /><rect x="0" y="8" width="3" height="3" /><rect x="0" y="12" width="3" height="3" /><rect x="0" y="16" width="3" height="3" /><rect x="4" y="4" width="3" height="3" /><rect x="4" y="8" width="3" height="3" /><rect x="4" y="12" width="3" height="3" /><rect x="8" y="4" width="3" height="3" /><rect x="8" y="8" width="3" height="3" /><rect x="8" y="12" width="3" height="3" /><rect x="12" y="8" width="3" height="3" /><rect x="16" y="8" width="3" height="3" /><rect x="20" y="8" width="3" height="3" /></svg>');
  }

  span::before {
    transform: translateY(-50%) scaleX(-1);
    left: -40px;
  }
}