em {
  color: var(--bs-secondary);
  font-weight: 500;
}

ul {
  list-style-type: square;
}

li::marker {
  color: var(--bs-secondary);
}

.active>.page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.badge.text-bg-primary {
  background-color: var(--bs-primary) !important;
}

.badge.text-bg-secondary {
  background-color: var(--bs-secondary) !important;
}

.text-bg-primary {
  border-color: var(--bs-primary) !important;
  background-color: var(--bs-primary) !important;
  color: white;
}

.text-bg-secondary {
  border-color: var(--bs-secondary) !important;
  background-color: var(--bs-secondary) !important;
  color: white;
}

.text-bg-tertiary {
  border-color: var(--bs-tertiary) !important;
  background-color: var(--bs-tertiary) !important;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-secondary {
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-hover);
  --bs-btn-hover-border-color: var(--bs-hover);
}

a:not(.btn):not(.nav-link) {
  color: var(--bs-primary);
}

a:not(.btn):not(.nav-link):hover {
  color: var(--bs-hover);
}

.text-bg-secondary {
  a:not(.btn) {
    color: white;
  }

  a:not(.btn):hover {
    color: var(--bs-light);
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  border-color: var(--bs-primary);
}

.card-text {
  color: #000;
}

html,
body {
  font-family: Verdana;
  font-size: 14px;
}

body {
  background-color: var(--bs-primary);
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--bs-light);
}

main {
  padding: 3em 0;
  min-height: calc(100vh - 200px);
}