header {
  padding-bottom: 1px;
  position: relative;
  background-color: var(--bs-primary);

  .site-logo {
    max-height: 50px;
    max-width: 50px;
  }

  .navbar-brand {
    display: inline-flex;
    align-items: center;

    p {
      font-size: 1.7em;
      line-height: 0.8;
      color: white;
      margin: 0 0.7em;
    }

    span {
      font-size: 0.7em;
      line-height: 1;
      display: block;
    }
  }

  .site-heading {
    display: inline-flex;
    text-decoration: none;
  }

  .navbar {
    position: relative;
    z-index: 1000;
    padding-bottom: 1.5em;
  }

  a.link-secondary {
    color: var(--bs-secondary) !important;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  .navbar-nav {
    --bs-nav-link-color: white;
    --bs-navbar-active-color: var(--bs-active);
  }

  a.nav-link {
    font-weight: 500;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  a.link-secondary {
    color: var(--bs-light) !important;
  }

  .offcanvas {
    --bs-offcanvas-color: white;
    --bs-heading-color: white;
  }

  .offcanvas.show,
  .offcanvas.showing {
    .navbar-cta {
      padding-top: 2em;
    }

    .site-logo {
      img {
        max-height: 30px;
      }

      margin-right: 1em;
    }

    .offcanvas-body>* {
      position: relative;
      z-index: 100;
      background-color: var(--bs-primary);
    }

    .offcanvas-body::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      aspect-ratio: 1;
      z-index: 1;
      opacity: 0.3;
      background-image: url('/img/studio.png');
      background-position: center bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }


  .navbar-cta {

    .btn {
      color: white;
      border-color: white !important;
    }
  }

  .offcanvas {
    color: white;
    background-color: var(--bs-primary);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 83px;
    width: 100%;
    position: absolute;
    bottom: -42px;
    z-index: 99;

    background-repeat: repeat-x;
    background-position: left bottom;
  }

  &::before {
    left: 2px;
    bottom: -44px;
    height: 40px;
    width: calc(100% - 2px);
  }
}