.hero {
  .container {
    --bs-gutter-x: 0;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .row {
    display: flex;
    align-items: center;
    --bs-gutter-x: 0;
  }

  .row>div {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.herocaption {
  position: relative;

  & div {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 25px;

    @media only screen and (min-width: 576px) {
      padding: 40px 60px;
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media only screen and (min-width: 992px) {
      padding: 75px;
      background-size: contain;
      display: block;
    }
  }

  .btn {
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    bottom: -2px;
    left: 2px;
    right: -2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 2px);

    @media only screen and (min-width: 576px) {
      background-size: contain;
    }
  }
}

.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  /*d-flex justify-content-center align-items-center p-2*/

  img {
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  >div {
    position: relative;
  }

  >div::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    bottom: -2px;
    left: 2px;
    right: -2px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}