.page-title {
    margin-top: 2em;

    .col {
        background-repeat: repeat-y;

        @media only screen and (min-width: 576px) {
            padding: 0 4em;
        }
    }

    h1,
    .h1 {
        color: white;
        text-shadow: 2px 2px 5px #444, 0px 2px 5px #444, 2px 0px 5px #444, 0px 0px 5px #444;
        font-size: 3em;
        margin-bottom: 0.1em;
    }
}