@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

:root,
[data-bs-theme="light"] {
  --bs-primary: #416788;
  --bs-hover: #4EABBC;
  --bs-secondary: #815673;
  --bs-tertiary: #cad5ca;
  --bs-light: #cad5ca;
  --bs-dark: #1f271b;
  --bs-active: #a0d2db;
}