@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('../../static/css/bootstrap.min.css');

:root,
[data-bs-theme="light"] {
  --bs-primary: #416788;
  --bs-hover: #4EABBC;
  --bs-secondary: #815673;
  --bs-tertiary: #cad5ca;
  --bs-light: #cad5ca;
  --bs-meow1: #1f271b;
  --bs-meow2: #a0d2db;
}