@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

:root,
[data-bs-theme="light"] {

  --bs-primary: #416788;
  --bs-primary-rgb: 65, 103, 136;
  --bs-primary-active: #2E4960;
  --bs-primary-disabled: #6891B6;
  --bs-primary-hover: #4eabbc;
  --bs-primary-text-emphasis: #213445;
  --bs-primary-bg-subtle: #e3ebf2;
  --bs-hover: var(--bs-primary-hover);

  --bs-secondary: #815673;
  --bs-secondary-rgb: 129, 86, 115;
  --bs-secondary-active: #643f53;
  --bs-secondary-disabled: #b0829b;
  --bs-secondary-hover: #a16887;
  --bs-secondary-text-emphasis: #3f2734;
  --bs-secondary-text-subtle: #efe6eb;

  --bs-tertiary: #cad5ca;
  --bs-tertiary-rgb: 202, 213, 202;

  --bs-light: #cad5ca;
  --bs-dark: #1f271b;
  --bs-active: #a0d2db;
}